<%- include('../common/navHead.ejs') %> 

<%- include('./adminNav.ejs') %> 

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid px-4">
                <h1 class="mt-4">Dashboard</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item active">Dashboard</li>
                </ol>
                <div class="row">
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-primary text-white mb-4">
                            <div class="card-body"><%=TotalDoctor%></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white stretched-link" >Number of Doctor</div>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-warning text-white mb-4">
                            <div class="card-body"><%=TotalPatient%></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white stretched-link" >Number of Patient</div>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-success text-white mb-4">
                            <div class="card-body"><%=TotalAppointment%></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white stretched-link" >Number of Appointment</div>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card bg-danger text-white mb-4">
                            <div class="card-body"><%=TotalPrescription%></div>
                            <div class="card-footer d-flex align-items-center justify-content-between">
                                <div class="small text-white stretched-link" >Number of Prescriptions</div>
                                <div class="small text-white"><i class="fas fa-angle-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table me-1"></i>
                        Doctor Table
                    </div>
                    <div class="card-body">
                        <table id="datatablesSimple">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Email</th>
                                    <th>Username</th>
                                    <th>Gender</th>
                                    <th>Phone</th>
                                    <th>ClinicVisit</th>
                                    <th>OnlineVisit</th>
                                </tr>
                            </thead>
                            
                            <tbody>
                                <% DoctorDetails.forEach(element => { %>
                                    <tr>
                                        <td><%= element.Name %>  </td>
                                        <td><%= element.Email %></td>
                                        <td><%= element.Username %></td>
                                        <td><%= element.Gender %></td>
                                        <td><%= element.Phone %></td>
                                        <td><%= element.VisitClinic %></td>
                                        <td><%= element.VisitOnline %></td>
                                    </tr>
                                 
                                <% }) %>
                               
                          
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid px-4">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; Your Website 2022</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<%- include('../common/navTail.ejs') %> 