<%- include('../common/head') %>

    <div class="container">
        <%- include('../common/navbar') %>

            <div class="row mt-3 mb-3">
                <div class="col-3" style="border-right: 1px solid rgb(209, 201, 201);">
                    <div class="lead m-2" style="border-bottom: 1px solid rgb(209, 201, 201);">
                        <h5>Your Profile</h5>
                    </div>
                    <a  href="/dashboard/patient_profile?Status=Present" class="butMain">Present Consultation</a>
                    <a href="/dashboard/patient_profile?Status=Previous" class="butMain">Previous Consultation</a>
                    <a class="butMain">Report</a>
                    <div class="butMain"><a style="text-decoration: none; color: black; width: 100%;"
                            href="/pay">Deposit</a></div>
                    <div onclick="transactionList()" class="butMain">Transaction</div>


                </div>
                <div class="col-9">
                    <div id="viewId" class="d-flex justify-content-center flex-column">
                        <div style="border-bottom: 1px solid rgb(212, 210, 210); font-size: 22px; font-weight: 600;">
                            Balance: $<%= patient.Balance %>
                        </div>
                        <div >
                            <table class="table table-bordered">
                                <thead class=" table-dark">
                                    <tr>
                                        <th>Doctor_Name</th>
                                        <th>Problem</th>
                                        <th>VisitAt</th>
                                        <th>Date</th>
                                        <th>Status</th>
                                        <% if (Status=='Previous') { %>
                                          <th>Review</th>
                                          <% } %>
                                        <th>Actions</th>
                                    </tr>
                                </thead>
                               
                                <tbody>
                                    <% AppointmentList.forEach(element => { %>
                                        <tr>
                                            <td><%= element.Name %>  </td>
                                            <td><%= element.ProblemDesctiption %></td>
                                            <td><%= element.VisitAt %></td>
                                            <td><%= element.Date? new Date(element.Date).toLocaleDateString():"Comming." %></td>
                                            <td><%= element.Status %></td>
                                            <% if (Status=='Previous') { %>
                                            <td><button onclick="postReview(<%=element.AppointmentId%>)" class="btn btn-sm btn-warning">Write Review</button></td>
                                            <% } %>
                                            <td><button onclick="getPrescriptonDetails(<%=element.AppointmentId%>)" class="btn btn-sm btn-info">View</button></td>
                                        </tr>
                                    <% }) %>
                                    
                                </tbody>
                            </table>
                            <% if (!AppointmentList.length) { %>
                                <div class="row"><div class="lead d-flex justify-content-center">No Recored Found</div></div>
                             
                            <% } %>
                        </div>
                    </div>

                </div>

            </div>
    </div>

    <%- include('../common/tail') %>
        <script src="/script/depositHandeler.js"></script>
        <script src="/script/patient/patientProfile.js"></script>
        </body>

        </html>