<%- include('../common/head') %>
<div class="container">

    <%- include('../common/navbar') %>

        <!-- login form  -->
        <div class="d-flex flex-row  justify-content-center mt-1 mb-5">
            <div class="card d-flex flex-column  justify-content-center align-items-center" style="width: 1000px;">
                <div class="breadcrumb m-3 W-75">
                    <span><a href="/en/">Dashboard</a> › </span>
                    <span> Update Profile</span>
                </div>


                <div class="card d-flex flex-column  justify-content-center" style="width: 800px;">
                    <div class="card-header">
                        <h4>Completed Your Profile</h4>
                    </div>

                    <div class="card-body">
                        <form action="/dashboard/patient" method="post">
                            <!-- name  -->
                            <div class="mb-3 mt-3 ">
                                <label for="name" class="form-label">Name*:</label>
                                <input value="<%= patient.Name %> " type="text" class="form-control" id="name"
                                    placeholder="Enter name" required name="name">
                                <div class="invalid-feedback"> </div>
                            </div>

                            <!-- username  -->
                            <div class="mb-3 mt-3">
                                <label for="username" class="form-label">Username:</label>
                                <input disabled value="<%= patient.Username %> " type="text" class="form-control"
                                    id="username" placeholder="Enter username" name="username">
                                <div class="invalid-feedback"> </div>
                            </div>
                            <!-- phone  -->
                            <div class="mb-3 mt-3">
                                <label for="phone" class="form-label">Phone:</label>
                                <input disabled value="<%= patient.Phone %> " type="text" class="form-control" id="phone"
                                    placeholder="Enter phone" name="phone">
                                <div class="invalid-feedback"> </div>
                            </div>
                            <!-- email  -->
                            <div class="mb-3 mt-3">
                                <label for="email" class="form-label">Email:</label>
                                <input required value="<%= patient.Email %> " type="text" class="form-control" id="email"
                                    placeholder="Enter email" name="email">
                                <div class="invalid-feedback"> </div>
                            </div>
                            <!-- birth date  -->
                            <div class="mb-3 mt-3">
                                <label for="date" class="form-label">Date of Birth: </label>
                                <input value="<%=patient.DateOfBirth %>" type="date" class="form-control" id="date"
                                    placeholder="Enter Date" min="1900-01-01" max="2090-12-31" name="date">
                                <div class="invalid-feedback"> </div>
                            </div>

                            <!-- gender  -->
                            <div class="mb-3 mt-3">
                                <label for="gender" class="form-label">Gender: <%=patient.Gender%></label>
                                <select id="gender" required name="gender" class="form-select form-select-lg mb-3"
                                    aria-label=".form-select-lg example">

                                    <option value="Male">Male</option>
                                    <option value="Female">Female</option>
                                    <option value="Third">Third</option>
                                </select>
                            </div>
                            <!-- address  -->
                            <div class="mb-3 mt-3">
                                <label for="date" class="form-label">Address*: </label>
                                <div class="w-100 justify-content-between" id="date">
                                    <input type="text" value="<%= patient.Location %> " placeholder="Locations"
                                        name="location">
                                    <input type="text" value="<%= patient.Zip %> " placeholder="Zip" name="zip">
                                    <input type="text" value="<%= patient.Country %> " placeholder="Country"
                                        name="country">
                                </div>
                            </div>
                             <!-- Account Number  -->
                             <div class="mb-3 mt-3">
                                <label for="AccountNumber" class="form-label">Account Number:</label>
                                <input required value="<%= patient.AccountNumber %> " type="text" class="form-control"
                                    id="AccountNumber" placeholder="Enter language " name="AccountNumber">
                                <div class="invalid-feedback"> </div>
                            </div>
                            <!-- blood group  -->
                            <div class="mb-3 mt-3">
                                <label for="bloodgroup" class="form-label">Blood Group:</label>
                                <input required value="<%= patient.BloodGroup %> " type="text" class="form-control"
                                    id="bloodgroup" placeholder="Enter Blood Group" name="bloodgroup">
                                <div class="invalid-feedback"> </div>
                            </div>

                            <!-- Height  -->
                            <div class="mb-3 mt-3">
                                <label for="height" class="form-label">Height in inch:</label>
                                <input required value="<%= patient.Height %> " type="text" class="form-control"
                                    id="height" placeholder="Enter height in inch" name="height">
                                <div class="invalid-feedback"> </div>
                            </div>

                            <!-- Weight  -->
                            <div class="mb-3 mt-3">
                                <label for="weight" class="form-label">Weight in Kilo:</label>
                                <input required value="<%= patient.Weight %> " type="text" class="form-control"
                                    id="weight" placeholder="Enter weight " name="weight">
                                <div class="invalid-feedback"> </div>
                            </div>

                            <!-- Languages  -->
                            <div class="mb-3 mt-3">
                                <label for="language" class="form-label">Language:</label>
                                <input required value="<%= patient.Language %> " type="text" class="form-control"
                                    id="language" placeholder="Enter language " name="language">
                                <div class="invalid-feedback"> </div>
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                    </div>

                </div>

            </div>
        </div>
    </div>
        <%- include('../common/tail') %>
            </body>

            </html>